@import url("https://fonts.googleapis.com" ) layer(base);
@import url("https://fonts.gstatic.com") layer(base);
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700;800&display=swap") layer(base);

@import "tailwindcss";

@theme {
  --font-sans: "Plus Jakarta Sans", sans-serif;
  
  --color-primary: #5E7D6C;
  --color-primary-hover: #4B6456;
  
  --color-secondary: #7DA690; 
  --color-secondary-hover: #688F79;
  
  --color-accent: #2D3648; 
  --color-accent-hover: #1E2532;

  --color-muted: #E2E8F0;
  --color-text-muted: #94A3B8;
}
