/* Hubungkan ke Google Fonts */
@import url("https://fonts.googleapis.com" ) layer(base);
@import url("https://fonts.gstatic.com") layer(base);
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700;800&display=swap") layer(base);

/* Import core Tailwind CSS v4 */
@import "tailwindcss";

@theme {
  /* Daftarkan font family ke Tailwind */
  --font-sans: "Plus Jakarta Sans", sans-serif;
  
  /* Custom semantic colors */
  --color-primary: oklch(0.696 0.17 162);       /* emerald-500 */
  --color-primary-dark: oklch(0.527 0.154 150);  /* emerald-700 */
}